menu "Nufront NS115"
	depends on ARCH_NS115

config MACH_NS115_PAD_TEST
	bool "Nufront NS115 Pad Test Board"
	select ARM_GIC
	select PL330
	select HAVE_PATA_PLATFORM
	select NUSMART_PL330_DMA
	select ARCH_SPARSEMEM_ENABLE if CPU_V7 && \
		!NS115_HIGH_PHYS_OFFSET && MMU
	select ZONE_DMA if SPARSEMEM
	help
	  Include support for the Nufront NS115 Pad Test Board.

config MACH_NS115_PAD_REF
	bool "Nufront NS115 Pad Ref Board"
	select ARM_GIC
	select PL330
	select HAVE_PATA_PLATFORM
	select ARCH_SPARSEMEM_ENABLE if CPU_V7 && \
		!NS115_HIGH_PHYS_OFFSET && MMU
	select ZONE_DMA if SPARSEMEM
	help
	  Include support for the Nufront NS115 Pad Ref Board.

config MACH_NS115_PHONE_TEST
	bool "Nufront NS115 Phone Test Board"
	select ARM_GIC
	select HAVE_PATA_PLATFORM
	select ARCH_SPARSEMEM_ENABLE if CPU_V7 && \
		!NS115_HIGH_PHYS_OFFSET && MMU
	select ZONE_DMA if SPARSEMEM
	help
	  Include support for the Nufront NS115 Phone Test Board.

config MACH_NS115_PHONE_REF
	bool "Nufront NS115 Phone Ref Board"
	select ARM_GIC
	select HAVE_PATA_PLATFORM
	select ARCH_SPARSEMEM_ENABLE if CPU_V7 && \
		!NS115_HIGH_PHYS_OFFSET && MMU
	select ZONE_DMA if SPARSEMEM
	help
	  Include support for the Nufront NS115 Phone Ref Board.

config MACH_NS115_STICK
	bool "Nufront NS115 Stick Board"
	select ARM_GIC
	select PL330
	select HAVE_PATA_PLATFORM
	select HAVE_UNSTABLE_SCHED_CLOCK
	select ARCH_SPARSEMEM_ENABLE if CPU_V7 && \
		!NS115_HIGH_PHYS_OFFSET && MMU
	select ZONE_DMA if SPARSEMEM
	help
	  Include support for the Nufront NS115 Stick Board.

config MACH_NS115_TVBOX_V30
	bool "Nufront NS115 TV-Box v30 Board"
	default n
	select MACH_NS115_STICK
	help
	  Include support for the Nufront NS115 TV-Box v20 Board.

config MACH_NS115_TVBOX_TONGJIU
	bool "Nufront NS115 TV-Box Tongjiu Board"
	default n
	select MACH_NS115_STICK
	help
	  Include support for the Nufront NS115 TV-Box Tongjiu Board.

config NS115_HIGH_PHYS_OFFSET
	bool "High physical base address for the NS115 platform"
	depends on MMU 
	default y
	help
	  NS115 board has the RAM available at 0x80000000, 
	  2046MB of which being mirrored at 0x80000000. 

config NUSMART_PL330_DMA
	bool
	select PL330
	help
	  NUSMART DMA API Driver for PL330 DMAC.

choice
	prompt "NS115 chip class"
	depends on ARCH_NS115

config CHIP_NORMAL
	bool "Normal"
	select CLASS_NORMAL
	help
	  Select chip class as normal.

config CHIP_HIGH
	bool "High"
	select CLASS_HIGH
	help
	  Select chip class as high.

config NS115_EFUSE_SUPPORT
        bool "ns115 efuse support"
        default n
        depends on ARCH_NS115
        help
          NS115 EFUSE Support

endchoice

config CLASS_NORMAL
	bool
config CLASS_HIGH
	bool
config CLASS_ULTRA
	bool

config NUSMART_CTS_BUG2509
	bool "0002509: junit.framework.AssertionFailedError"
	depends on RICOH583_AC_DETECT 
	default y
	help
	 The testcase use posix timer which ID is CLOCK_THREAD_CPUTIME_ID 
	 to calc interval, and add log trace , we can fixed this bug;	
endmenu

